:root {
  --main-brand-color: #6057c3;
  --translucent-white: #ffffffde;
  --translucent-black: #000000a8;
  --secondary-brand-color: #cab7fe;
  --dark-dark-dark-gray-blue: #171718;
  --earthy-sherbert: #ac4143;
  --sherbert: #fc8f68;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-form-formrecaptcha {
  margin-bottom: 8px;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #000;
  background-color: #fdfdfd;
  flex-direction: column;
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 20px;
  display: flex;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: DM Serif Display, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
}

p {
  max-width: 60ch;
  margin-bottom: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section.footer {
  background-color: var(--main-brand-color);
  color: #fff;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  position: relative;
}

.section.testimonial {
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.heading {
  max-width: 450px;
  margin-bottom: 60px;
  font-family: DM Serif Display, sans-serif;
  font-weight: 400;
}

.text-block {
  color: #000000b3;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.container {
  float: none;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
}

.container.projects {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column dense;
  place-content: end stretch;
  display: block;
}

.container.letterforms {
  background-color: #fff0;
}

.container.project-description {
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.container.letterforms-color-1 {
  background-color: #200f2200;
}

.navbar {
  background-color: #fff;
  box-shadow: 1px 1px 75px #0000001a;
}

.brand {
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav-link {
  color: #000;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.nav-link.button {
  background-color: var(--main-brand-color);
  color: #fff;
  border-radius: 8px;
  margin-top: 15px;
  margin-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.nav-link.button:visited {
  color: #fff;
}

.secondary-heading {
  color: #000;
  max-width: 400px;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: DM Serif Display, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
}

.paragraph {
  color: #000000a8;
  line-height: 16px;
}

.collection-item {
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .8fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 30px;
  display: grid;
  position: relative;
}

.project-details {
  flex-direction: column;
  min-height: 400px;
  padding: 60px;
  display: flex;
}

.button-text {
  margin-top: auto;
  margin-right: 4px;
  display: inline-block;
}

.project-name-preview {
  margin-top: 10px;
  font-family: DM Serif Display, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.project-type-preview, .project-paragraph-preview {
  color: var(--translucent-white);
}

.field-label {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 11px;
}

.form-block {
  color: #000;
  background-color: #fff;
  padding: 60px;
  box-shadow: 28px 28px 150px #00000026;
}

.dark-paragraph {
  color: #000000ad;
  margin-bottom: 20px;
}

.grid {
  grid-template-rows: auto;
}

.form {
  flex-direction: column;
  display: flex;
}

.submit-button {
  background-color: var(--main-brand-color);
  color: #fff;
  border-radius: 5px;
  align-self: flex-end;
  margin-top: 15px;
}

.footer-holder {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.image {
  margin-bottom: 30px;
}

.footer-paragraph {
  text-align: center;
  max-width: 600px;
  margin-bottom: 20px;
}

.collection-list {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-items: center;
  font-weight: 600;
  display: grid;
}

.social-wrapper {
  grid-column-gap: 11px;
  grid-row-gap: 11px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  display: flex;
}

.social-link {
  margin-left: 10px;
  margin-right: 10px;
}

.selected-projects-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project-heading {
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 5px;
  font-family: DM Serif Display, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
}

.project-heading.secondary {
  color: #0000008c;
  margin-bottom: 60px;
}

.project-heading.smaller {
  font-size: 21px;
}

.project-main-image {
  object-fit: cover;
  width: 100%;
  height: 500px;
}

.project-side-by-side {
  grid-column-gap: 30px;
  grid-template-rows: auto;
}

.project-label {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 600;
}

.project-info {
  color: var(--translucent-black);
  margin-bottom: 60px;
}

.project-info.other {
  color: #ffffffdb;
  margin-bottom: 5px;
}

.project-description {
  margin-bottom: 30px;
}

.project-description h2 {
  letter-spacing: 2px;
  max-width: 95%;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 0;
  font-family: DM Serif Display, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.1;
}

.project-description p {
  color: var(--secondary-brand-color);
  max-width: 95%;
  margin-bottom: 0;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.text-inside-link {
  margin-right: 10px;
  display: inline-block;
}

.image-4 {
  margin-top: -4px;
}

.image-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.project-grid-image {
  object-fit: cover;
  width: 200%;
  height: 287px;
}

.other-projects {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.project-image {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

.other-projects-label {
  padding: 30px;
}

.link-block {
  position: relative;
}

.project-link {
  background-color: var(--main-brand-color);
  border-radius: 5px;
  flex-flow: column;
  align-self: auto;
  padding: 10px 20px;
  display: block;
}

.project-link.homepage {
  vertical-align: text-bottom;
  flex-flow: row;
  order: 0;
  align-self: flex-start;
  display: inline;
}

.larger-heading {
  color: var(--main-brand-color);
  margin-bottom: 60px;
  font-family: DM Serif Display, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
}

.recaptcha {
  margin-top: 10px;
}

.selected-projects-list {
  color: #fff;
}

.nav-menu {
  margin-top: 5px;
}

.hero-camera {
  perspective: 1000px;
  height: 35vw;
  overflow: hidden;
}

.hero-image-grid {
  grid-column-gap: 3vw;
  grid-row-gap: 3vw;
  grid-template-columns: 1fr 1fr 1fr;
}

.hero-image {
  box-shadow: 1px 1px 44px #0000001a;
}

.original-hero-image {
  display: none;
}

.selected-projects-effect {
  z-index: -1;
  opacity: 0;
  filter: saturate(200%) blur(40px);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
  transform: translate(0, 24px);
}

.utility-page-wrap {
  background-color: var(--dark-dark-dark-gray-blue);
  perspective: 1000px;
  color: #ffffffe6;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  z-index: 3;
  text-align: center;
  flex-direction: column;
  position: relative;
}

.frosted-glass {
  background-color: #0000008c;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  display: flex;
}

.utility-heading {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
}

._404 {
  margin-bottom: 30px;
  font-family: DM Serif Display, sans-serif;
  font-size: 172px;
  line-height: 1;
}

._404-details {
  max-width: 260px;
}

.utility-button {
  background-color: #000;
  width: 100%;
}

.horizontal-divider {
  background-color: #000c;
  width: 100%;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.circle-image {
  z-index: 2;
  border-radius: 50%;
  width: 460px;
  position: relative;
}

.circle-image.glow {
  z-index: 1;
  filter: saturate(200%) blur(75px);
  position: absolute;
  inset: 0%;
}

._404-interaction {
  position: absolute;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.password-heading {
  max-width: 280px;
  margin-bottom: 30px;
  font-family: DM Serif Display, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.1;
}

.lock {
  margin-top: 30px;
  margin-bottom: 15px;
}

.password-paragraph {
  color: #ffffffd1;
  max-width: 260px;
  margin-bottom: 30px;
}

.password-interaction {
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 75vmin;
  height: 75vmin;
  position: absolute;
}

.password-cell {
  background-color: var(--dark-dark-dark-gray-blue);
  transform-style: preserve-3d;
  position: relative;
  transform: scale3d(1, 1, 6);
}

.password-cell-color {
  opacity: .5;
  transform-style: preserve-3d;
  background-color: #f01f4c;
  position: absolute;
  inset: 0%;
  transform: translate3d(0, 0, -10px);
}

.password-cell-color.orange {
  transform-style: preserve-3d;
  background-color: #f0841f;
  transform: translate3d(0, 0, -20px);
}

.password-cell-color.yellow {
  transform-style: preserve-3d;
  background-color: #f0d01f;
  transform: translate3d(0, 0, -30px);
}

.password-cell-color.green {
  transform-style: preserve-3d;
  background-color: #6cf01f;
  transform: translate3d(0, 0, -40px);
}

.password-cell-color.blue {
  transform-style: preserve-3d;
  background-color: #31b3ff;
  transform: translate3d(0, 0, -50px);
}

.password-cell-color.indigo {
  transform-style: preserve-3d;
  background-color: #4231ff;
  transform: translate3d(0, 0, -60px);
}

.password-cell-color.violet {
  transform-style: preserve-3d;
  background-color: #f344ff;
  transform: translate3d(0, 0, -70px);
}

.collection-list-wrapper {
  margin-top: 20px;
}

.project-client-preview {
  order: 1;
  margin-top: auto;
}

.success-message {
  background-color: #0000;
}

.lottie-animation {
  max-width: 100px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.quote {
  margin-bottom: 0;
  font-family: DM Serif Display, sans-serif;
  font-size: 24px;
  line-height: 1.2;
}

.centered-container {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.div-block {
  background-color: #ffffff70;
  width: 150px;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.grid-2 {
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 1fr 1fr;
}

.paragraph-2 {
  color: #ffffff80;
  letter-spacing: 1px;
  background-color: #fff0;
  max-width: 400px;
  margin-bottom: 0;
  padding-left: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}

.div-block-project {
  float: none;
  clear: none;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #ff916f;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  min-height: 0;
  max-height: none;
  margin-bottom: 40px;
  display: flex;
  overflow: visible;
}

.div-block-project.color {
  background-color: #114b37;
}

.div-block-project.color2 {
  background-color: #f47935;
}

.div-block-project.color3 {
  background-color: #613d83;
}

.project-title {
  color: #fff;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  font-size: 28px;
}

.heading-2 {
  color: #ffffff80;
  -webkit-text-stroke-color: #ffffff80;
  margin-top: 0;
  padding-left: 0;
}

.image-5 {
  float: none;
  clear: none;
  vertical-align: top;
  flex: 0 auto;
  order: 1;
  justify-content: flex-end;
  align-self: flex-start;
  align-items: center;
  max-width: 50%;
  margin-left: auto;
  display: inline-flex;
  position: relative;
}

.div-block-3 {
  min-width: auto;
  max-width: none;
  min-height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
}

.link {
  margin-top: auto;
  font-weight: 600;
}

.image-6 {
  max-width: 25px;
  margin-right: 0;
  padding-top: 0;
  padding-right: 0;
}

.project-hero {
  clear: none;
  text-align: center;
  min-width: 65%;
  max-width: none;
  min-height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

.project-hero.letterforms {
  background-color: #15bd99;
  min-width: auto;
}

.project-hero.letterforms.madlycurious {
  background-color: #fff0;
  min-width: 65%;
}

.section-2 {
  background-color: #eedcbb00;
}

.section-2.kc-collection {
  background-color: #fff8f6;
  height: 50vh;
}

.about-project {
  background-color: #151c52;
  margin-top: 0;
  padding-top: 80px;
  padding-bottom: 40px;
}

.about-project.color2 {
  background-color: #4c103c;
}

.about-project.color3 {
  background-color: #0b1227;
}

.about-project.madly-curious {
  background-color: #151c52;
}

.about-project.color-1 {
  background-color: #114b37;
}

.about-project.oprah {
  background-color: #a53918;
}

.about-project.universalcolor {
  background-color: #0468c7;
}

.about-project.bootbarn {
  background-color: #492318;
}

.about-project.product-design {
  background-color: #8d005e;
}

.heading-3 {
  color: #fff;
  max-width: 100%;
}

.paragraph-3 {
  color: #ee8f8f;
  max-width: 100%;
  margin-bottom: 0;
  line-height: 22px;
}

.div-block-4 {
  max-width: 48%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: block;
}

.section-4 {
  background-color: #fff;
  height: 600px;
}

.image-8 {
  margin-bottom: 70px;
  padding-top: 39px;
}

.image-9 {
  max-width: 50%;
  margin-left: 0;
  padding-left: 0;
}

.image-10 {
  max-width: 100%;
  margin-left: 0;
  padding-top: 0;
}

.div-block-5 {
  max-width: 45%;
  padding-top: 51px;
  display: block;
}

.div-block-6 {
  max-width: 50%;
  margin-left: 46px;
  display: block;
}

.div-block-7 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  margin-bottom: 87px;
  padding-left: 0;
  display: flex;
}

.image-11 {
  min-width: 100%;
  max-width: none;
  min-height: 100%;
  max-height: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image-11.qqdesign {
  min-width: auto;
  height: 30vh;
  min-height: auto;
}

.container-2 {
  display: block;
}

.qqdesign {
  background-color: #d924be;
}

.section-slider {
  background-color: #db27bd;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.section-slider.hair {
  background-color: #000;
}

.section-slider.universal {
  background-color: #db27bd00;
}

.slider {
  background-color: #da27bd00;
  height: 50vh;
}

.slider.madlycurious {
  background-color: #c7c7c700;
  overflow: hidden;
}

.slider.qqdesign {
  background-color: #fcfcfc00;
  height: 50vh;
}

.slider.hair {
  background-color: #da27bd00;
  overflow: hidden;
}

.slider.kc_slider {
  height: 60vh;
}

.slide-nav {
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.slider-img-size {
  max-width: none;
  height: 600px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  position: relative;
  overflow: clip;
}

.slide {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.slide.qqdesign {
  background-color: #d31db4;
  height: 50vh;
}

.slide.universalcolor_1 {
  background-color: #e8cdaf;
}

.slide.mc-color {
  background-color: #200f22;
}

.image-13 {
  max-width: 90px;
}

.image-13.icon-scale {
  width: 12%;
  max-width: none;
}

.image-14 {
  max-width: 100px;
}

.image-14.icon-scale {
  width: 12%;
  max-width: none;
}

.image-15 {
  max-width: 100px;
}

.image-15.icon-scale {
  width: 12%;
}

.image-16 {
  max-width: 100px;
}

.image-16.icon-scale {
  width: 12%;
  max-width: none;
}

.image-17 {
  max-width: 100px;
}

.image-17.icon-scale {
  width: 12%;
  max-width: none;
}

.image-18 {
  max-width: 75px;
}

.image-18.icon-scale {
  width: 12%;
  max-width: none;
}

.div-block-8 {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  opacity: .45;
  justify-content: center;
  align-items: center;
  display: flex;
}

.section-7 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.heading-4 {
  color: #6158c3;
  text-align: center;
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.section-8 {
  background-color: #7afcae;
  margin-bottom: 49px;
}

.image-19 {
  background-color: #fff0;
  min-width: 600px;
  max-width: 800px;
  display: block;
}

.slide-2 {
  background-color: #fff;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.slide-2.mc-color {
  background-color: #200f22;
}

.image-20 {
  min-width: auto;
  max-width: none;
  max-height: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img-3---mc {
  background-color: #000;
  flex: none;
  width: 60%;
  min-width: auto;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  display: block;
}

.slide-3 {
  background-color: #fff;
  overflow: hidden;
}

.slide-3.hair {
  height: 50vw;
}

.slide-3.mc-color2 {
  background-color: #000;
}

.container-3 {
  justify-content: center;
  align-items: center;
  max-width: none;
  height: 100%;
  min-height: auto;
  display: flex;
  overflow: visible;
}

.container-3.color-1 {
  background-color: #f6ccbc;
}

.heading-5 {
  text-align: center;
  margin-top: 37px;
  margin-bottom: 50px;
}

.slide-img {
  background-color: #200f2200;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: auto;
  display: flex;
  overflow: hidden;
}

.slide-img.qq-design {
  background-color: #d31db400;
  height: auto;
}

.slide-img.hair {
  background-color: #070707;
  height: auto;
  display: flex;
}

.slide-img.hair._2 {
  overflow: hidden;
}

.slide-img.bkgd {
  background-color: #000;
}

.slide-img.kc_color {
  background-color: #f0d6c200;
  height: auto;
  overflow: hidden;
}

.slide-img.goodhurt {
  background-color: #ffcd01;
}

.slide-img.bootbarn {
  justify-content: center;
  align-items: flex-start;
}

.img-1 {
  flex: none;
  width: 70%;
  max-width: none;
  margin-top: 0;
}

.img-1.qqdesign {
  vertical-align: baseline;
  background-color: #fff0;
  flex: none;
  align-self: auto;
  width: auto;
  min-width: auto;
  height: 50vh;
  min-height: auto;
  overflow: hidden;
}

.img-1.hair {
  width: 70%;
}

.img-2---mc {
  flex: none;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: none;
  display: inline-flex;
}

.image-24.qqdesign {
  flex: none;
  width: auto;
  max-width: none;
  height: 50vh;
  overflow: hidden;
}

.image-25.qqdesign {
  flex: none;
  width: auto;
  max-width: none;
  height: 50vh;
}

.div-block-9 {
  background-color: #e3181900;
  justify-content: center;
  align-items: center;
  display: flex;
}

.link-2.button {
  color: #0c253e;
  background-color: #cab7fe;
  border-radius: 6px;
  margin-bottom: 26px;
  padding: 10px 12px;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}

.link-2.button.color {
  color: #151c52;
  -webkit-text-stroke-color: #a53918;
}

.link-2.button.lavender {
  color: #114b37;
}

.link-2.button.gh_color {
  color: #a53918;
}

.hair-img-1 {
  max-width: none;
  height: 50vh;
  min-height: auto;
  display: block;
  overflow: hidden;
}

.image-26 {
  flex: none;
  align-self: flex-end;
  width: auto;
  max-width: none;
  height: 50vh;
  min-height: auto;
  overflow: hidden;
}

.slide-4 {
  height: 50vh;
  overflow: hidden;
}

.div-block-10 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.lettercolor-kc {
  color: #f54343;
}

.div-block-11 {
  margin-top: 0;
  margin-bottom: 0;
}

.color-1 {
  color: #081b4b;
}

.image-28 {
  max-width: none;
  height: 100%;
  overflow: visible;
}

.track {
  background-color: #f6ccbc;
  height: 400vh;
}

.camera {
  width: 100vw;
  max-width: none;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.frame {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  display: flex;
}

.item {
  flex: none;
  width: 100vw;
}

.scroll-img-1 {
  padding: 42px;
}

.section-9 {
  background-color: #f7ccbd;
  min-height: 700px;
}

.full-size-scroll {
  max-width: none;
}

.kc_beforeafter {
  mix-blend-mode: normal;
  flex: none;
  max-width: none;
  height: 50vh;
  display: block;
  overflow: hidden;
}

.kc_beforeafter.transparent {
  mix-blend-mode: multiply;
}

.section-10 {
  background-color: #e44e4e;
  height: auto;
}

.beforeafterslider_1 {
  overflow: hidden;
}

.slider-2 {
  background-color: #f0d6c3;
  height: 50vh;
  overflow: hidden;
}

.slider-2.kc_exterior_color {
  background-color: #93d5eb;
}

.mc-logo {
  flex: none;
  max-width: none;
  height: 50vh;
  overflow: hidden;
}

.mc-sketch {
  max-width: none;
  height: 50vh;
}

.mc-sketches {
  overflow: hidden;
}

.div-block-13 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  place-items: start stretch;
  display: grid;
  overflow: hidden;
}

.section-11 {
  display: inline-block;
}

.container-6 {
  display: block;
}

.hairtypedesign {
  max-width: none;
  height: 50vh;
}

.goodhurt {
  max-width: none;
  height: 70vh;
  margin-bottom: 242px;
}

.image-32 {
  border-radius: 20px;
}

.image-33 {
  overflow: hidden;
}

.image-34 {
  width: 75%;
  margin: 0 0 20px 32px;
  padding-right: 0;
  display: block;
}

.universal {
  background-color: #e8d7bb;
  max-width: none;
  height: 50vh;
}

.div-block-14 {
  background-color: #014a8f;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-15 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.div-block-16 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.universalcolor_1 {
  background-color: #e8cdaf;
}

.goodhurt_1, .universal_b, .universal_4 {
  max-width: none;
  height: 50vh;
}

.bootbarn_1 {
  margin-top: 212px;
}

.bootbarn_2 {
  background-color: #fff0;
}

.bootbarn_2a {
  background-color: #1b1718;
}

.image-36 {
  max-width: none;
  height: 60vh;
  display: block;
}

.producttoy_1 {
  background-color: #bfc4e8;
  height: 50vh;
}

.producttoy_1b {
  height: 50vh;
}

.product_2 {
  background-color: #c0e7dd;
}

.product_3 {
  background-color: #bdebe5;
}

.product_4 {
  background-color: #fee7de;
}

.product_5 {
  background-color: #fff;
}

.product_6 {
  background-color: #fee2e8;
}

.product_7 {
  background-color: #fff;
}

.div-block-17 {
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.image-40 {
  display: block;
}

.image-41 {
  max-width: 60%;
  display: block;
}

.image-44 {
  max-width: 40%;
  padding: 60px;
}

.heading-6 {
  color: #fff;
}

.paragraph-4 {
  color: var(--secondary-brand-color);
}

.image-45 {
  max-width: none;
  height: 40px;
  display: block;
}

.email, .div-block-18 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-20 {
  overflow: hidden;
}

.body {
  background-color: var(--main-brand-color);
}

@media screen and (min-width: 1920px) {
  .section {
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    display: inline-flex;
  }

  .section.footer {
    height: 400px;
    display: flex;
  }

  .heading {
    max-width: 780px;
    font-size: 56px;
    line-height: 1.1;
  }

  .container {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    max-width: 1600px;
    display: block;
  }

  .container.project-description {
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }

  .nav-link {
    font-size: 20px;
  }

  .secondary-heading {
    font-size: 40px;
    line-height: 1.1;
  }

  .paragraph {
    margin-bottom: 30px;
  }

  .collection-item {
    grid-template-areas: ". Area";
  }

  .social-wrapper {
    grid-column-gap: 11px;
    grid-row-gap: 11px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .project-heading {
    font-size: 40px;
    line-height: 1.1;
  }

  .project-side-by-side {
    grid-template-columns: .5fr 1fr;
  }

  .project-description h2 {
    max-width: 95%;
  }

  .project-description p {
    color: #cab7fe;
    letter-spacing: .5px;
    -webkit-text-stroke-color: var(--secondary-brand-color);
    max-width: 95%;
    font-size: 25px;
    font-weight: 400;
  }

  .project-grid-image {
    height: 500px;
  }

  .larger-heading {
    font-size: 55px;
    line-height: 1.1;
  }

  .password-heading {
    max-width: 360px;
    font-size: 45px;
    line-height: 1.1;
  }

  .paragraph-2 {
    font-size: 16px;
    line-height: 20px;
  }

  .div-block-project.color {
    background-color: #114b37;
  }

  .project-title {
    font-size: 32px;
  }

  .image-5 {
    justify-content: flex-end;
    align-items: center;
    display: inline-flex;
  }

  .link {
    font-size: 18px;
  }

  .image-6 {
    width: 30px;
    max-width: none;
    margin-right: 0;
    padding-top: 0;
    font-size: 20px;
  }

  .project-hero {
    min-width: 65%;
  }

  .project-hero.letterforms, .project-hero.letterforms.madlycurious {
    min-width: auto;
  }

  .project-hero.letterforms.madlycurious {
    min-width: 65%;
  }

  .section-2 {
    background-color: #15bd99;
  }

  .section-2.kc-collection {
    background-color: #fff8f6;
  }

  .about-project {
    background-color: #ffd6cb;
  }

  .about-project.color3 {
    background-color: #0b1227;
    font-size: 13px;
  }

  .about-project.madly-curious {
    background-color: #151c52;
  }

  .about-project.color-1 {
    -webkit-text-stroke-color: var(--secondary-brand-color);
  }

  .about-project.oprah {
    background-color: #a53918;
    margin-bottom: 0;
  }

  .about-project.universalcolor {
    background-color: #0468c7;
  }

  .about-project.bootbarn {
    background-color: #492318;
  }

  .about-project.product-design {
    background-color: #8d005e;
  }

  .div-block-4 {
    color: #2c4688;
    justify-content: center;
    align-items: center;
    min-width: 46%;
    max-width: none;
    padding-left: 0;
    display: block;
  }

  .image-11.qqdesign {
    flex: 0 auto;
    min-width: auto;
    min-height: auto;
    overflow: clip;
  }

  .section-slider {
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
  }

  .slider {
    height: 60vh;
  }

  .slider.madlycurious {
    background-color: #fff0;
  }

  .slider.qqdesign {
    height: 60vh;
  }

  .slide {
    background-color: #fff0;
    height: 60vh;
    overflow: hidden;
  }

  .slide.qqdesign {
    height: 60vh;
  }

  .slide.universalcolor_1 {
    background-color: #0568c7;
  }

  .slide.mc-color {
    background-color: #200f22;
  }

  .slide.bootbarn {
    background-color: #fff;
  }

  .slide-2 {
    height: 60vh;
  }

  .slide-2.mc-color {
    background-color: #200f22;
  }

  .img-3---mc {
    width: 60%;
  }

  .slide-3, .slide-3.hair {
    height: 60vh;
    overflow: hidden;
  }

  .slide-3.mc-color2 {
    background-color: #000;
  }

  .container-3 {
    overflow: hidden;
  }

  .container-3.color-1 {
    background-color: #f6ccbc;
  }

  .slide-img {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #fff0;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    display: flex;
    overflow: hidden;
  }

  .slide-img.qq-design {
    background-color: #d621b7;
    height: auto;
  }

  .slide-img.hair {
    background-color: #060606;
    height: auto;
    min-height: auto;
  }

  .slide-img.hair._2 {
    height: auto;
  }

  .slide-img.bkgd {
    background-color: #fff0;
  }

  .slide-img.goodhurt {
    background-color: #ffcd01;
    justify-content: center;
    align-items: center;
    margin-bottom: 140px;
    display: flex;
  }

  .img-1 {
    align-self: center;
    width: 80%;
    min-width: auto;
    max-width: none;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .img-1.qqdesign {
    background-color: #fff0;
    width: auto;
    height: 60vh;
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;
  }

  .img-2---mc {
    width: 900px;
    max-width: none;
    margin-top: 0;
    margin-bottom: 28px;
    display: block;
  }

  .image-24.qqdesign {
    background-color: #d924be00;
    width: auto;
    min-width: auto;
    max-width: none;
    height: 60vh;
  }

  .image-25.qqdesign {
    flex: none;
    width: auto;
    height: 60vh;
    overflow: hidden;
  }

  .div-block-9 {
    background-color: #e3181900;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
  }

  .link-2.button {
    padding: 15px 20px;
    font-size: 22px;
  }

  .link-2.button.color {
    color: #151c52;
    -webkit-text-stroke-color: #a53918;
    background-color: #cbb8ff;
  }

  .link-2.button.lavender {
    color: #114b37;
    display: inline-block;
  }

  .link-2.button.gh_color {
    color: #a53918;
  }

  .hair-img-1 {
    flex: none;
    height: 60vh;
    min-height: auto;
  }

  .image-26 {
    width: auto;
    height: 60vh;
  }

  .slide-4 {
    height: 60vh;
  }

  .container-4 {
    min-width: 100%;
    max-width: none;
  }

  .kc_beforeafter {
    flex: none;
    max-width: none;
    height: 60vh;
    overflow: hidden;
  }

  .div-block-12 {
    background-color: #6f7342;
  }

  .slider-2 {
    height: 60vh;
    overflow: hidden;
  }

  .mc-logo, .mc-sketch {
    background-color: #200f22;
    height: 60vh;
  }

  .div-block-13 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    place-content: start;
    place-items: start stretch;
    display: grid;
  }

  .section-11 {
    height: auto;
    overflow: hidden;
  }

  .image-29, .image-30 {
    max-width: none;
    height: 50vh;
    overflow: hidden;
  }

  .hairtypedesign {
    flex: none;
    max-width: none;
    height: 60vh;
    overflow: hidden;
  }

  .kc-grid {
    display: block;
  }

  .goodhurt {
    height: 70vh;
    margin-bottom: 200px;
    display: block;
  }

  .image-31 {
    color: #faf8ed;
  }

  .image-34 {
    width: 60%;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 38px;
    padding: 0;
    overflow: visible;
  }

  .universal {
    max-width: none;
    height: 60vh;
    display: block;
    overflow: hidden;
  }

  .div-block-14 {
    background-color: #014a8f;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .section-12 {
    justify-content: flex-start;
    align-items: center;
    margin-top: -261px;
    margin-bottom: -250px;
    display: block;
  }

  .section-13 {
    margin-top: -218px;
  }

  .section-14 {
    margin-top: 0;
  }

  .div-block-15 {
    background-color: #fff0;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
  }

  .div-block-16 {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: flex;
  }

  .universalcolor_2 {
    height: 60vh;
  }

  .goodhurt_1 {
    max-width: none;
    height: 60vh;
    overflow: hidden;
  }

  .universal_b {
    max-width: none;
    height: 60vh;
  }

  .universal_3 {
    height: 60vh;
  }

  .image-35 {
    max-width: none;
  }

  .universal_4, .universal_c {
    max-width: none;
    height: 60vh;
  }

  .slide-qq {
    background-color: #d924be;
  }

  .passionmainimage {
    background-color: #faf8ed;
  }

  .bootbarn_1 {
    max-width: none;
    height: 25vh;
    margin-top: 199px;
    display: block;
  }

  .bootbarn_2 {
    background-color: #fff0;
    max-width: none;
    height: 60vh;
  }

  .bootbarn_2a {
    background-color: #1b1718;
  }

  .image-36 {
    max-width: none;
    height: 60vh;
    padding-right: 0;
  }

  .image-37 {
    max-width: none;
    height: 60vh;
  }

  .productdesign {
    background-color: #baeddd;
  }

  .producttoy_1 {
    background-color: #bfc4e8;
    height: 60vh;
  }

  .producttoy_1b {
    max-width: none;
    height: 60vh;
  }

  .product_2 {
    background-color: #c0e7dd;
  }

  .product_3 {
    background-color: #bdebe5;
  }

  .product_4 {
    background-color: #fee7de;
  }

  .product_5 {
    background-color: #fff;
  }

  .product_6 {
    background-color: #fee2e8;
    height: 60vh;
  }

  .image-38 {
    max-width: none;
    height: 60vh;
  }

  .product_7 {
    background-color: #fff;
    height: 60vh;
  }

  .image-39 {
    max-width: none;
    height: 60vh;
  }

  .div-block-17 {
    background-color: #a89c83;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
  }

  .image-41 {
    max-width: 60%;
    display: block;
  }

  .image-42 {
    width: 30px;
    max-width: none;
  }

  .image-43 {
    width: 30px;
  }

  .section-15 {
    background-color: #fff0;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
  }

  .image-44 {
    max-width: 40%;
    padding: 60px;
    display: block;
  }

  .heading-6 {
    color: var(--translucent-white);
  }

  .paragraph-4 {
    color: var(--secondary-brand-color);
  }

  .body {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--main-brand-color);
    justify-content: flex-start;
    align-items: stretch;
  }
}

@media screen and (max-width: 991px) {
  .section.footer {
    height: 300px;
  }

  .heading {
    margin-bottom: 30px;
  }

  .nav-link {
    background-color: #fff;
    padding: 10px 30px;
  }

  .nav-link.button {
    color: #000;
    background-color: #fff;
    border-radius: 0;
    margin-top: 0;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .project-details {
    min-height: 300px;
    padding: 30px;
  }

  .form-block {
    padding: 30px;
  }

  .menu-button {
    background-color: #fff;
    margin-top: 5px;
  }

  .menu-button.w--open {
    background-color: #000;
  }

  .logo {
    margin-top: -1px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .project-heading.secondary {
    margin-bottom: 30px;
  }

  .project-main-image {
    height: 300px;
  }

  .project-side-by-side {
    grid-template-columns: 1fr 1.5fr;
  }

  .project-description h2 {
    word-break: normal;
    overflow-wrap: normal;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    display: block;
    overflow: visible;
  }

  .project-description p {
    font-size: 16px;
  }

  .image-grid, .other-projects {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .project-image {
    height: 200px;
  }

  .other-projects-label {
    flex: 1;
  }

  .link-block {
    flex-direction: column;
    height: 100%;
    display: flex;
  }

  .larger-heading, .password-heading {
    margin-bottom: 30px;
  }

  .project-title {
    margin-bottom: 5px;
    line-height: 30px;
  }

  .icon {
    margin-top: -2px;
    font-size: 40px;
    line-height: 40px;
  }

  .project-hero {
    min-width: 1000px;
    max-width: 150%;
    min-height: auto;
    bottom: 137px;
    right: 143px;
  }

  .project-hero.letterforms {
    max-width: none;
    position: static;
  }

  .project-hero.letterforms.madlycurious {
    position: static;
  }

  .section-2 {
    flex: 0 auto;
  }

  .section-2.kc-collection {
    background-color: #fff8f6;
    height: 30vh;
    overflow: hidden;
  }

  .about-project.color3 {
    background-color: #0b1227;
  }

  .about-project.madly-curious {
    background-color: #151c52;
  }

  .about-project.bootbarn {
    background-color: #492318;
  }

  .div-block-4 {
    overflow: hidden;
  }

  .image-11.qqdesign {
    min-width: 100%;
    height: auto;
  }

  .slider {
    background-color: #c2c2c200;
    height: 40vh;
  }

  .slider.madlycurious {
    height: 40vh;
  }

  .slider.qqdesign, .slider.hair {
    position: relative;
  }

  .slider-img-size {
    min-width: 100%;
    height: auto;
    margin: auto;
    padding-top: 48px;
    display: block;
    position: static;
    inset: 0 0% auto;
  }

  .slide {
    height: 40vh;
  }

  .slide.qqdesign {
    height: auto;
  }

  .image-13 {
    display: block;
  }

  .image-13.icon-scale, .image-14.icon-scale, .image-15.icon-scale, .image-16.icon-scale, .image-17.icon-scale, .image-18.icon-scale {
    width: 10%;
  }

  .div-block-8 {
    grid-column-gap: 51px;
    grid-row-gap: 51px;
    object-fit: contain;
  }

  .heading-4 {
    max-width: 70%;
    max-height: none;
    margin-left: auto;
    margin-right: auto;
    line-height: 32px;
  }

  .slide-2 {
    height: 40vh;
  }

  .img-3---mc {
    flex: none;
    width: 100%;
    max-width: none;
  }

  .slide-3 {
    height: 40vh;
    overflow: hidden;
  }

  .slide-3.hair {
    height: 40vh;
  }

  .container-3 {
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    max-width: none;
    height: 35vh;
    display: flex;
    overflow: hidden;
  }

  .container-3.color-1 {
    background-color: #f6ccbc;
  }

  .heading-5 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 23px;
  }

  .slide-img {
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin-bottom: 0;
    position: static;
    overflow: hidden;
  }

  .slide-img.qq-design, .slide-img.hair {
    height: auto;
  }

  .slide-img.kc_color {
    overflow: hidden;
  }

  .slide-img.goodhurt {
    display: flex;
  }

  .img-1 {
    width: 100%;
  }

  .img-1.qqdesign {
    flex: none;
    width: 100%;
    height: auto;
    min-height: auto;
    overflow: hidden;
  }

  .img-1.hair {
    width: auto;
    min-height: 160%;
  }

  .img-2---mc {
    width: 100%;
  }

  .image-24 {
    min-width: 100%;
    max-width: none;
    overflow: hidden;
  }

  .image-24.qqdesign {
    flex: none;
    width: 100%;
    min-width: auto;
    height: auto;
  }

  .image-25 {
    min-width: 100%;
    max-width: none;
    overflow: hidden;
  }

  .image-25.qqdesign {
    flex: none;
    width: auto;
    min-width: auto;
    height: 40vh;
  }

  .link-2 {
    color: #1f4a74;
    background-color: #cbb8ff;
    border-radius: 6px;
    margin-bottom: 26px;
    padding: 8px 10px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    display: inline-block;
  }

  .link-2.button.color {
    color: #151c52;
  }

  .hair-img-1 {
    flex: none;
    height: 40vh;
    min-height: auto;
    overflow: clip;
  }

  .image-26 {
    height: 120%;
    min-height: auto;
    overflow: hidden;
  }

  .slide-4 {
    height: 40vh;
  }

  .image-28 {
    z-index: auto;
    max-width: 100%;
    height: auto;
    position: static;
    overflow: hidden;
  }

  .track {
    height: 400px;
    overflow: hidden;
  }

  .camera {
    height: 400px;
    overflow: visible;
  }

  .frame {
    height: 400px;
  }

  .scroll-img-1 {
    max-width: none;
    max-height: 100%;
    margin-left: auto;
    padding: 0;
    display: block;
  }

  .section-9 {
    box-sizing: border-box;
    height: 400px;
    min-height: auto;
    position: sticky;
    top: 0;
  }

  .full-size-scroll {
    height: auto;
    min-height: 400px;
    overflow: visible;
  }

  .scroll-img-2 {
    max-width: none;
    max-height: 100%;
  }

  .kc_beforeafter {
    flex: none;
    max-width: none;
    height: 40vh;
    overflow: hidden;
  }

  .section-10 {
    background-color: #e44e4e00;
  }

  .container-5 {
    object-fit: contain;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .slider-2 {
    height: 40vh;
  }

  .kc_fullcollection {
    max-width: none;
    height: 30vh;
    overflow: visible;
  }

  .mc-logo, .mc-sketch {
    height: 40vh;
  }

  .div-block-13 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-content: start;
    max-width: none;
    height: 100%;
    display: grid;
  }

  .section-11 {
    width: 100%;
    height: auto;
  }

  .image-29, .image-30 {
    flex: none;
    width: 50%;
    min-width: auto;
    max-width: none;
  }

  .hairtypedesign {
    width: 100%;
    max-width: none;
  }

  .goodhurt {
    width: auto;
    height: 70vh;
    margin-bottom: 318px;
    display: block;
    overflow: hidden;
  }

  .image-34 {
    width: 95%;
    margin-left: 0;
  }

  .universal {
    min-width: 100%;
    max-width: none;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    display: block;
    overflow: hidden;
  }

  .div-block-14 {
    display: block;
  }

  .div-block-15 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: flex;
  }

  .universalcolor_1 {
    margin-bottom: 0;
  }

  .bootbarn_1 {
    margin-top: 121px;
  }

  .bootbarn_2 {
    background-color: #191210;
    max-width: none;
    height: 150%;
  }

  .image-36, .image-37 {
    max-width: none;
    height: 40vh;
  }

  .producttoy_1, .producttoy_1b {
    height: 40vh;
  }

  .image-41 {
    max-width: 80%;
  }

  .image-44 {
    max-width: 100%;
    padding: 0;
  }

  .div-block-19 {
    padding: 60px 40px 100px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .heading {
    margin-bottom: 30px;
    font-size: 23px;
    line-height: 1.1;
  }

  .container {
    display: block;
  }

  .container.letterforms {
    z-index: auto;
    float: none;
    clear: none;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    aspect-ratio: auto;
    flex-flow: column-reverse;
    justify-content: space-between;
    align-items: center;
    min-width: auto;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    position: relative;
    overflow: clip;
  }

  .container.project-description {
    margin-bottom: 0;
    padding: 40px;
    display: block;
  }

  .container.project-description.color-kc {
    padding-left: 40px;
    padding-right: 40px;
  }

  .brand {
    padding-left: 0;
  }

  .secondary-heading {
    font-size: 20px;
  }

  .paragraph {
    font-size: 13px;
  }

  .collection-item {
    grid-template-columns: 1fr 1fr;
  }

  .project-details {
    padding: 50px 15px 15px 30px;
  }

  .project-name-preview {
    font-size: 18px;
  }

  .project-paragraph-preview {
    font-size: 13px;
  }

  .form-block {
    padding: 15px;
  }

  .collection-list {
    text-align: center;
  }

  .project-heading {
    font-size: 22px;
  }

  .project-heading.secondary {
    margin-bottom: 15px;
  }

  .project-main-image {
    height: 150px;
  }

  .project-side-by-side {
    grid-template-columns: 1fr;
  }

  .project-label {
    margin-bottom: 5px;
  }

  .project-info {
    margin-bottom: 15px;
  }

  .project-description h2 {
    word-break: normal;
    padding-top: 0;
  }

  .project-description p {
    margin-bottom: 0;
  }

  .image-grid {
    grid-template-columns: 1fr;
  }

  .project-grid-image {
    height: 150px;
  }

  .other-projects {
    grid-template-columns: 1fr;
  }

  .project-image {
    height: 150px;
  }

  .other-projects-label {
    padding: 15px;
  }

  .larger-heading {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 1.1;
  }

  ._404 {
    font-size: 100px;
  }

  .password-heading {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 1.1;
  }

  .centered-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-project {
    box-sizing: border-box;
    display: block;
  }

  .image-5 {
    flex-flow: column;
    justify-content: flex-end;
    align-self: flex-start;
    align-items: center;
    max-width: 100%;
    min-height: 100%;
    margin-top: 0;
    margin-left: 0;
  }

  .icon {
    padding-top: 0;
    font-size: 40px;
    line-height: 40px;
  }

  .project-hero {
    grid-column-gap: 62px;
    grid-row-gap: 62px;
    vertical-align: baseline;
    flex: none;
    order: 0;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 130%;
    min-width: auto;
    max-width: none;
    height: 100%;
    display: block;
    bottom: 4px;
    right: 107px;
    overflow: hidden;
  }

  .project-hero.letterforms {
    width: auto;
    height: auto;
  }

  .project-hero.letterforms.madlycurious {
    flex: none;
    align-self: center;
  }

  .about-project {
    padding-top: 40px;
  }

  .about-project.madly-curious {
    background-color: #151c52;
  }

  .about-project.bootbarn {
    background-color: #492318;
  }

  .div-block-4 {
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 0;
    padding-right: 40px;
  }

  .image-11 {
    max-width: 100%;
    min-height: auto;
  }

  .image-11.qqdesign {
    max-width: none;
  }

  .section-slider {
    max-height: 600px;
  }

  .section-slider.qqdesign, .section-slider.hair {
    max-height: none;
  }

  .slider {
    height: 400px;
  }

  .slider.madlycurious, .slider.qqdesign {
    height: 40vh;
  }

  .slider.hair {
    height: 40vh;
    overflow: hidden;
  }

  .slider-img-size {
    max-width: 100%;
    margin-top: auto;
    padding-top: 10px;
  }

  .slide {
    object-fit: fill;
    height: 40vh;
  }

  .slide.qqdesign {
    height: 40vh;
    overflow: hidden;
  }

  .image-13 {
    flex: 0 auto;
  }

  .image-13.icon-scale {
    width: 8%;
  }

  .image-14 {
    padding-bottom: 0;
  }

  .image-14.icon-scale, .image-18.icon-scale {
    width: 8%;
  }

  .div-block-8 {
    grid-column-gap: 38px;
    grid-row-gap: 38px;
    aspect-ratio: auto;
    object-fit: fill;
    justify-content: center;
    align-items: center;
    width: auto;
    display: flex;
    overflow: hidden;
  }

  .section-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading-4 {
    max-width: 75%;
    line-height: 32px;
  }

  .slide-2 {
    aspect-ratio: auto;
    object-fit: fill;
    width: auto;
    height: 40vh;
    overflow: hidden;
  }

  .slide-2.mc-color {
    height: 40vh;
  }

  .image-20 {
    min-width: auto;
    max-width: 100%;
    margin-top: -121px;
  }

  .img-3---mc {
    width: auto;
    min-width: auto;
    max-width: 100%;
  }

  .slide-3 {
    object-fit: fill;
    height: 400px;
  }

  .slide-3.hair {
    width: auto;
    height: 40vh;
  }

  .slide-3.mc-color2 {
    height: 40vh;
  }

  .container-3.color-1 {
    background-color: #f6ccbc;
  }

  .slide-img {
    justify-content: center;
    align-items: flex-start;
    height: auto;
    display: flex;
    overflow: hidden;
  }

  .slide-img.qq-design {
    display: flex;
  }

  .slide-img.hair {
    height: auto;
    overflow: hidden;
  }

  .slide-img.hair._2 {
    background-color: #fff0;
    height: auto;
  }

  .img-1.qqdesign {
    width: auto;
    height: 40vh;
  }

  .img-1.hair {
    width: auto;
    min-height: 140%;
  }

  .image-24.qqdesign, .image-25.qqdesign {
    width: auto;
    height: 40vh;
  }

  .hair-img-1 {
    flex: none;
    height: 40vh;
  }

  .image-26 {
    flex: none;
    width: auto;
    min-width: auto;
    height: 40vh;
    min-height: auto;
    overflow: hidden;
  }

  .slide-4 {
    height: 40vh;
    overflow: hidden;
  }

  .container-5 {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .mc-logo {
    height: 40vh;
    display: block;
  }

  .mc-sketch {
    flex: none;
    width: 100vw;
    height: auto;
    display: block;
    overflow: hidden;
  }

  .div-block-13 {
    grid-template-columns: 1fr;
    align-content: start;
    height: auto;
  }

  .section-11 {
    height: auto;
  }

  .hairtypedesign {
    width: auto;
    height: 40vh;
  }

  .goodhurt {
    width: 100%;
    height: auto;
    margin-top: -50px;
    margin-bottom: 0;
  }

  .image-34 {
    width: 80%;
    margin-left: 70px;
    margin-right: auto;
    display: block;
    overflow: visible;
  }

  .universal {
    min-width: auto;
    height: auto;
    overflow: hidden;
  }

  .div-block-14, .div-block-15, .div-block-16 {
    display: block;
  }

  .universalcolor_1 {
    min-width: auto;
    max-width: none;
    height: 40vh;
    overflow: hidden;
  }

  .universalcolor_2 {
    height: 400px;
  }

  .goodhurt_1 {
    height: 40vh;
    display: block;
    overflow: hidden;
  }

  .universal_b {
    max-width: none;
    height: 400px;
    overflow: clip;
  }

  .universal_3 {
    height: 400px;
    overflow: clip;
  }

  .universal_c {
    width: 100%;
    max-width: none;
  }

  .bootbarn_1 {
    margin-top: 158px;
  }

  .bootbarn_2 {
    background-color: #191210;
    height: 50vh;
    overflow: clip;
  }

  .producttoy_1b {
    max-width: none;
    height: 40vh;
    display: block;
    overflow: clip;
  }

  .product_2 {
    height: 40vh;
  }

  .image-44 {
    max-width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .section.footer {
    margin-bottom: 0;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container.project-description, .container.project-description.color-kc {
    padding-left: 30px;
    padding-right: 30px;
  }

  .brand {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .nav-link {
    padding-left: 10px;
    padding-right: 10px;
  }

  .collection-item {
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
  }

  .project-details {
    min-height: auto;
    padding-top: 30px;
  }

  .button-text {
    margin-top: 15px;
  }

  .form-block {
    padding: 10px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .submit-button {
    align-self: stretch;
  }

  .collection-list {
    grid-template-columns: 1fr;
  }

  .selected-projects-image {
    min-height: 200px;
  }

  .logo {
    width: 150px;
    margin-left: 14px;
    padding-top: 4px;
  }

  .project-heading.smaller {
    font-size: 18px;
  }

  .project-info.other {
    font-size: 12px;
    line-height: 1.2;
  }

  .project-description h2 {
    box-sizing: border-box;
    float: none;
    clear: none;
    white-space: normal;
    word-break: normal;
    overflow-wrap: normal;
    vertical-align: baseline;
    object-fit: fill;
    flex-flow: row;
    font-size: 24px;
    display: block;
    position: static;
    overflow: visible;
  }

  .project-description p {
    margin-bottom: 10px;
  }

  .project-image {
    height: 120px;
  }

  .recaptcha {
    flex: 0 auto;
  }

  .recaptcha-wrapper {
    transform-origin: 0 0;
    transform: scale(.7);
  }

  .quote {
    font-size: 20px;
  }

  .link {
    padding-top: 26px;
  }

  .icon {
    margin-top: -2px;
    margin-bottom: -2px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .project-hero {
    width: auto;
    position: relative;
    top: auto;
    right: 188px;
  }

  .project-hero.letterforms, .project-hero.letterforms.madlycurious {
    min-width: 80%;
  }

  .section-2.kc-collection {
    flex: none;
    height: auto;
  }

  .about-project {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .about-project.bootbarn {
    background-color: #492318;
  }

  .div-block-4 {
    padding-left: 0;
    padding-right: 20px;
  }

  .image-11 {
    min-width: 150%;
    max-width: none;
    min-height: auto;
    overflow: hidden;
  }

  .image-11.qqdesign {
    box-sizing: border-box;
    object-fit: fill;
    background-color: #e11619;
    min-width: 200%;
    min-height: auto;
    display: block;
    overflow: hidden;
  }

  .slider {
    background-color: #fff;
    height: 30vh;
  }

  .slider.madlycurious {
    height: 30vh;
  }

  .slider.qqdesign {
    background-color: #dc28c0;
    height: 30vh;
  }

  .slider.hair {
    height: 30vh;
  }

  .slide-nav {
    background-color: #200f2200;
  }

  .slider-img-size {
    z-index: auto;
    object-fit: fill;
    width: 120%;
    min-width: auto;
    margin-top: 0;
    padding-top: 34px;
    position: relative;
  }

  .slide {
    height: 30vh;
    overflow: clip;
  }

  .slide.qqdesign {
    height: 30vh;
  }

  .slide.universalcolor_1 {
    background-color: #0468c7;
    overflow: hidden;
  }

  .div-block-8 {
    grid-column-gap: 23px;
    grid-row-gap: 23px;
    overflow: hidden;
  }

  .heading-4 {
    max-width: 85%;
    font-size: 18px;
    line-height: 24px;
  }

  .slide-2 {
    box-sizing: border-box;
    width: auto;
    height: 30vh;
    position: relative;
    overflow: clip;
  }

  .img-3---mc {
    align-self: center;
    width: auto;
    min-width: auto;
    max-width: none;
    height: 30vh;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    overflow: hidden;
  }

  .slide-3 {
    height: 30vh;
    overflow: clip;
  }

  .slide-3.hair {
    height: 30vh;
  }

  .container-3 {
    justify-content: center;
    align-items: center;
    height: 15vh;
  }

  .container-3.color-1 {
    background-color: #f6ccbc;
  }

  .slide-img {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #200f2200;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: auto;
    display: flex;
    position: relative;
    overflow: hidden;
  }

  .slide-img.qq-design {
    display: flex;
  }

  .slide-img.hair {
    height: 100%;
  }

  .slide-img.hair._2 {
    height: auto;
    min-height: auto;
  }

  .slide-img.kc_color {
    justify-content: center;
    align-items: center;
  }

  .slide-img.goodhurt {
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
  }

  .slide-img.bootbarn {
    justify-content: flex-end;
    align-items: flex-start;
  }

  .img-1 {
    flex: none;
    align-self: center;
    width: auto;
    min-width: auto;
    max-width: none;
    height: 30vh;
    min-height: auto;
    margin-top: 0;
    display: block;
    overflow: hidden;
  }

  .img-1.madlycurious {
    min-width: 160%;
    min-height: auto;
    margin-top: 34px;
  }

  .img-1.qqdesign {
    width: auto;
    min-width: auto;
    height: 30vh;
    min-height: auto;
    margin-top: 0;
    display: block;
  }

  .img-1.hair {
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: auto;
    height: auto;
    min-height: 320px;
    display: block;
    overflow: clip;
  }

  .img-2---mc {
    align-self: center;
    width: auto;
    height: 40vh;
    overflow: hidden;
  }

  .img-2---mc.madlycurious {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .image-24 {
    min-height: 400px;
  }

  .image-24.qqdesign {
    width: auto;
    min-width: auto;
    height: 30vh;
    min-height: auto;
  }

  .image-25.qqdesign {
    width: auto;
    min-width: auto;
    height: 30vh;
    min-height: auto;
    padding-left: 0;
  }

  .div-block-9 {
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }

  .hair-img-1 {
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: none;
    height: 30vh;
    display: inline-flex;
    overflow: clip;
  }

  .image-26 {
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: auto;
    max-width: none;
    height: 30vh;
    min-height: auto;
    display: inline-flex;
  }

  .image-27 {
    min-width: 450px;
    max-width: 500px;
    min-height: auto;
    overflow: hidden;
  }

  .slide-4 {
    height: 30vh;
  }

  .kc_beforeafter {
    flex: none;
    height: 30vh;
  }

  .beforeafterslider_1 {
    flex: none;
  }

  .slider-2 {
    height: 30vh;
  }

  .kc_fullcollection {
    flex: none;
    width: 110vw;
    min-width: auto;
    height: auto;
    overflow: hidden;
  }

  .left-arrow, .right-arrow {
    display: none;
  }

  .hairtypedesign {
    height: 30vh;
    overflow: hidden;
  }

  .goodhurt {
    width: auto;
    height: 30vh;
    margin-top: 0;
    overflow: clip;
  }

  .image-31 {
    max-width: none;
    height: 210px;
    display: block;
    overflow: hidden;
  }

  .image-34 {
    width: 100%;
    max-width: 110%;
    margin-left: auto;
    overflow: visible;
  }

  .universal {
    background-color: #fff0;
    width: auto;
    max-width: none;
    height: 30vh;
    display: block;
    overflow: clip;
  }

  .div-block-14 {
    display: block;
  }

  .goodhurt_1 {
    height: 30vh;
    margin-right: 0;
  }

  .universal_3, .universal_4 {
    height: 30vh;
  }

  .universal_c {
    width: auto;
    height: 100%;
  }

  .passionmainimage {
    height: 210px;
    overflow: hidden;
  }

  .bootbarn_1 {
    margin-top: 163px;
  }

  .bootbarn_2 {
    background-color: #191210;
    height: 30vh;
    overflow: clip;
  }

  .image-36, .image-37 {
    max-width: none;
    height: 30vh;
    overflow: visible;
  }

  .right-arrow-2 {
    margin-right: 0;
    overflow: visible;
  }

  .producttoy_1b {
    box-sizing: border-box;
    max-width: none;
    height: 30vh;
    overflow: clip;
  }

  .product_3 {
    height: 30vh;
    overflow: visible;
  }

  .image-41 {
    max-width: 90%;
  }

  .section-15 {
    flex-flow: column;
    min-width: auto;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow: visible;
  }

  .div-block-19 {
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 0;
    padding-bottom: 60px;
    display: block;
    overflow: hidden;
  }
}


